/* ------------------ ESTILOS GERAIS DA PÁGINA ------------------ */
body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

/* ------------------ ESTILO DO FORMULÁRIO ------------------ */
.form-container {
    padding: 5px 10px;
    background-color: #ffffff;
    border-radius: 15px;
    max-width: 600px;
    width: 100%;

}

/* ------------------ ESTILO DOS CAMPOS DO FORMULÁRIO ------------------ */
.campo_config {
    text-transform: uppercase;
}

/* ------------------ LAYOUT EM LINHAS (FLEXBOX) ------------------ */
.row {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
    /*border: 2px solid red;*/
}

/* ------------------ COLUNAS RESPONSIVAS ------------------ */
.col {
    flex; 1
}

/* --------------------- TESTE CLASSE ---------------------- */

.div-teste{
    border: 2px solid red;


}


.div-borda{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.titulo{
    text-align: center;
    color: #2c3e50;
}

.div-alert{
        padding: 1px;
        position: fixed;
        top: 110px;
        left: 0;
        right: 0;
        margin: auto;
        width: 15%;
}

.custom-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 15px 15px;
    padding: 17px 15px;
}

.custom-dropdown {
        min-width: 125px;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    td{
    text-align: center;
    vertical-align: middle;
}
th{
    text-align: center;
}